
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.logo{
    color: #f9faf8;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 24px;


}

.links{
    gap: 16px;
    

}

ul{
    gap: 16px;
    display: flex;
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    overflow: scroll;
    
    
}

a{
    color: #e5e7eb;
    font-family: Helvetica;
    font-size: 18px;
}

.hero-text{
    font-size: 48px;
    font-weight: extra-bold;
    font-family: Helvetica;
    color: #f9faf8;
}

.secondary-hero-text{
    font-size: 18px;
    color: #e5e7eb;
    font-family: Helvetica;
    display: flex;
    margin-top: 10px;
    

}

.sign-up{
    color: white;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;


}

img{
    height: 200px;
    width: auto;
}
.content1{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    
   
}

.content2{
    padding: 20px;
    


}

.information-text{
    font-size: 36px;
    font-weight: extra-bold;
    font-family: Helvetica;
    color: #1f2937;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;



}

.boxes{
    display: flex;
    justify-content: center;
    

     
}

.box-text{
    display: flex;
    justify-content: center;
    
    
}

.text1,
.text2,
.text3,
.text4{
    margin: 20px;
    font-family: Helvetica;
    

}




.box1,
.box2,
.box3,
.box4 {
    
    border-radius: 25px;
    border: 2px solid #3882f6;
    padding: 20px; 
    width: 100px;
    height: 100px;
    margin: 10px;  
}

.content3{
    background-color: #e5e7eb;
    padding: 20px;
}

.quote-text{
    text-align: center;
    font-style:  italic;
    font-size: 36px;
    color: #1f2937;
    font-family: Helvetica;
    font-weight: lighter;
}

.attribution-text{
    font-family: Helvetica;
    font-weight: bold;
    color: #1f2937;
    text-align:right;
}



.content4{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-box{
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 10px;
    border: 2px solid #3882f6;
    background-color: #3882f6;
    
    
    padding: 20px; 
    width: 600px;
    height: 70px;
    margin: 10px;  
}
.call-text{
    font-weight: bolder;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
    


}

.call-text2{
    font-weight: lighter;
    color: white;
    font-family: Helvetica;
    font-size: 12px;

}


.sign-up-call{
    color: white;
    background-color: #3882f6;
    border: 1px solid white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    
    font-weight: bold;


}

.footer{
    width: auto;
    height: 75px;
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;

}

.footer-text{
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: lighter;
}